<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/employee.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
</head>
<body style="display: none;">
    <form action="/submitContact" method="POST" onsubmit="return confirmSubmission(event)">
    <button>เสร็จสิ้น</button>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" ></th>
                <th>ห้อง</th>
                <th>เรื่องที่ต้องการจะติดต่อ</th>
                <th>วันที่</th>
                <th>เวลา</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item)=>{ %>
            <tr>
                <td><input type="checkbox" name="selectedContact" value="<%= item.contact_id %>"></td>
                <td><%=item.room_number%></td>
                <td><%=item.contact_name%></td>
                <td><%=item.date%></td>
                <td><%=item.time%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</form>
    <script src="/static/javascript/refreshtoken-admin.js"></script>
    <script src="../website/static/javascript/checkbox.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmSubmission(event) {
            event.preventDefault(); // ป้องกันการส่งฟอร์มทันที
            Swal.fire({
                icon: "success",
                title: "งานติดต่อเสร็จสิ้น",
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                event.target.submit(); // ส่งฟอร์มหลังจากแสดง SweetAlert เสร็จ
            });
            return false; // ป้องกันการส่งฟอร์มแบบปกติ
          }
    </script>
</body>
</html>