<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="/static/css/meetingroom.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="display: none;">
        <a href="/user/room"><button class="button-back" style="margin-bottom: 10px;">
            <div class="icon-container">
                <img src="/static/img/arrow-white.png">
            </div>
            <p>Go Back</p>
        </button></a>
        <div class="container">
        <div class="meetinginfo">
            <div class="row">
                <div class="first_row"><p style="font-size: 1.2rem;" class="first_title">ข้อมูลการจอง</p><p style="font-size: 1.2rem;" id="coworkname"><%= coworkname %></p></div>
                <button id="editinfo" onclick="editData();">แก้ไขข้อมูล</button>
            </div>
            <form action="/user/savecowork" method="POST" class="meetingdetail" id="meetingdetail" onsubmit="return validateForm()">
                <input type="text" value="<%= coworkname %>" name="cowork_name" style="display: none;" id="cowork_name">
                <input type="text" value="<%= data && data.id ? data.id : '' %>" name="cowork_id" style="display: none;" id="cowork_id">
                <input type="text" value="<%= data && data.room_id ? data.room_id : '' %>" name="room_id" style="display: none;" id="room_id">
                <label class="room_lable">หมายเลขห้อง <input type="text" class="textinput" name="room_number" value="<%= data && data.room_number ? data.room_number : '' %>" id="room_number"></label>
                <p id="selected_date" style="display: none;"><%= data && data.starttime ? data.starttime.split(' ')[0] : '' %></p>
                <label  class="day_lable">วันที่: <select name="day" id="selectdate" class="textinput"></select></label>
                <div class="timerow">
                    <label class="start_time_lable">ใช้บริการเวลา <input type="time" style="margin-left: 12px;" id="start-time" class="timeinput" step="3600" name="starttime" value="<%= data && data.starttime ? data.starttime.split(' ')[1].substring(0, 5) : '' %>"></label>
                    <label class="end_time_lable">ถึงเวลา <input type="time" style="margin-left: 12px;" id="end-time" class="timeinput" step="3600" name="endtime" value="<%= data && data.endtime ? data.endtime.split(' ')[1].substring(0, 5) : '' %>"></label>
                </div>
                <label  class="moreinfolable"><p class="moreinfo">หมายเหตุเพิ่มเติม</p> <textarea name="info" id="info"><%= data && data.info ? data.info : '' %></textarea></label>
                <input type="submit" id="savedata" value="บันทึกข้อมูล"></input>
            </form>
            <br>
            <div class="moreinfo_user">
                <p>หมายเหตุ: 1) สามารถเลือกเวลาได้ไม่เกิน 2 ชั่วโมง</p> <br>
                <p class="more2" style="color: rgb(46, 49, 49);">2) ผู้ใช้สามารถจองใหม่ได้เมื่อสิ้นสุดเวลาการจองที่มีอยู่เท่านั้น</p>
            </div>
        </div>
        <div class="meetinginfo">
            <p style="margin: 20px; font-size: 1.2rem;">ตารางเวลาบริการ</p>
            <div class="small-device">
                <label  style="margin-left: 20px;">วันที่: <select name="" id="select_table_date">
                </select></label>
            </div>
            <table id="meetingtable" style="margin: 20px;">
                <thead id="tablehead"></thead>
                <tbody id="tablebody"></tbody>
            </table>
        </div>
    </div>
    <script src="/static/javascript/refreshtoken.js"></script>
    <script src="/static/javascript/meetingroom.js"></script>
</body>
</html>