<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="/static/css/room_detail.css">
</head>
<body>
    <div class="room">
        <div class="img_roomall">
            <div class="img_room1">
                <img src="/static/img/inside_condo1.webp">
            </div>
            <div class="img_room2">
                <img src="/static/img/inside_condo.webp">
                <img src="/static/img/inside_condo3.webp">
                <img src="/static/img/inside_condo2.webp">
                <img src="/static/img/balcony.jpg">
            </div>
        </div>
    </div>
    <div class="all">
        <div class="text">
            <div class="detail">
                <div>
                    <h1>ห้อง <%= condo.room_number %></h1> <!-- ดีงข้อมูล ID -->
                    <h1>฿ <%= Number(condo.price).toLocaleString() %> /เดือน</h1> <!-- ดีง ราคาห้อง-->
                    <hr>
                </div>
                <div class="icon_detail">
                    <div>
                        <div class="circle-border">
                            <img src="/static/img/double-bed.png">
                        </div>
                        <p><%= condo.bed_room %> ห้องนอน</p> <!-- ดีงข้อมูลห้องนอนว่ามีกี่ห้อง -->
                    </div>
                    <div>
                        <div class="circle-border">
                            <img src="/static/img/bath-tub.png">
                        </div>
                        <p><%= condo.bath_room %> ห้องน้ำ</p> <!-- ดีงข้อมูลห้องน้ำว่ามีกี่ห้อง -->
                    </div>
                    <div>
                        <div class="circle-border">
                            <img src="/static/img/length.png">
                        </div>
                        <p><%= condo.area %> ตร.ม.</p> <!-- ดีงข้อมูล area -->
                    </div>
                    <div>
                        <div class="circle-border">
                            <img src="/static/img/veterinary.png">
                        </div>
                        <p>Pet Friendly</p>
                    </div>
                </div>
                <div class="room-detail">
                    <hr>
                    <h1>รายละเอียดของห้อง</h1>
                    <div class="concept">
                        <hr class="vertical">
                        <p>Neo Life Condo ลาดกระบัง เฟอร์นิเจอร์ครบ อยู่ใกล้มหาลัย</p>
                    </div>
                    <p>รายละเอียดห้องดังนี้</p>
                    <ul type="circle">
                        <li>ขนาด <%= condo.area %> ตร.ม.</li> <!-- ดีงข้อมูล area -->
                        <li>ชั้น <%= condo.floor %></li> <!-- ดีงข้อมูลชั้น -->
                        <% if (condo.corner === "Yes") { %>
                            <li>ห้องหัวมุม วิวดี ระเบียงกว้างกว่าเดิม</li> <!-- ถ้า corner เป็น Yes ให้โชว์ ห้องหัวมุม วิวดี ระเบียงกว้างกว่าเดิม ถ้าเป็น No ก็ไม่ต้องโชว์บรรทัดนี้ -->
                        <% } %>
                        <li>เฟอร์นิเจอร์และเครื่องใช้ไฟฟ้ามีดังนี้</li>
                        <ul class="hidden-list" type="disc">
                            <li>เครื่องปรับอากาศ</li>
                            <li>ตู้เย็น</li>
                            <li>เครื่องทำน้ำอุ่น</li>
                            <li>ตู้เสื้อผ้า</li>
                            <li>เตียงนอน + ฟูกขนาด 6 ฟุต</li>
                            <li>เค้าเตอร์ครัวบิ้วอิน</li>
                            <li>Samsung LED 43 นิ้ว Smart TV</li>
                        </ul>
                        <span class="see-more" onclick="toggleList()">...ดูเพิ่มเติม</span>
                    </ul>
                </div>
                <div>
                    <h1>ความสะดวกโดยรอบ</h1>
                    <div class="all-faci">
                        <div class="faci">
                            <img src="/static/img/security-camera.png">
                            <p>กล้องวงจรปิด</p>
                        </div>
                        <div class="faci">
                            <img src="/static/img/verified.png">
                            <p>รักษาวามปลอดภัย 24 ขม.</p>
                        </div>
                        <div class="faci">
                            <img src="/static/img/parking-area.png">
                            <p>ฟรีที่จอดรถ</p>
                        </div>
                        <div class="faci">
                            <img src="/static/img/minimart.png">
                            <p>ใกล้ร้านสะดวกซื้อ</p>
                        </div>
                        <div class="faci">
                            <img src="/static/img/university.png">
                            <p>ใกล้สถานศึกษา</p>
                        </div>
                        <div class="faci">
                            <img src="/static/img/hospital.png">
                            <p>ใกล้โรงพยาบาล</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plan-button">
                <div class="plan">
                    <img src="/static/img/plan_condo.png">
                </div>
                <div class="button">
                    <a href="/condo/<%= condo.room_id %>/reserve"><button>จองห้อง</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/javascript/room_detail.js"></script>
</body>
</html>