
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Life Condo</title>
    <link rel="stylesheet" href="../static/css/dataperson.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>
<body style="display: none;">
    <div class="container">
        <div class="profile-header">
            <img src="../static/img/porson.jpg" alt="Profile">
            <div>
                <h2><strong>ชื่อ:</strong><%= data.title %><%= data.name %> <%= data.surname %></span></h2>
                <p>ห้อง</strong> 103</span></p>
            </div>
        </div>
        <div class="incon">
            <div class="info-section">
                <h3>ข้อมูลส่วนตัว</h3>
                <div class="personal-info">
                    <p class="text-inside"><strong>ชื่อ (Name):</strong> <%= data.title %><%= data.name %> <%= data.surname %></p>
                    <p class="text-inside"><strong>ชื่อเล่น (Nickname):</strong> <%= data.nickname %></p>
                    <p class="text-inside"><strong>วันเกิด (Birthdate):</strong> 30 กรกฎาคม 2547</p>
                    <p class="text-inside"><strong>อายุ (Age):</strong> <%= data.age %></p>
                    <p class="text-inside"><strong>เพศ (Gender):</strong> <%= data.gender %></p>
                    <p class="text-inside"><strong>สัญชาติ (Nationality):</strong><%= data.nationality %></p>
                    <p class="text-inside"><strong>ศาสนา (Religion):</strong> <%= data.religion %></p>
                    <p class="text-inside"><strong>เชื้อชาติ (Ethnicity):</strong> <%= data.ethnicity %></p>
                    <p class="text-inside"><strong>เลขบัตรประชาชน (ID Number):</strong> <%= data.id_number %></p>
                </div>
                <div class="history">
                    <h3>ประวัติการจอง</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>ประเภท</th>
                                <th>วันที่จอง</th>
                                <th>เวลาเริ่ม</th>
                                <th>เวลาจบ</th>
                                <th>หมายเหตุ</th>
                            </tr>

                        </thead>
                        <tbody id="booking-history"><tr>
                        <td>สนามแบดมินตัน</td>
                        <td>29/12/2024</td>
                        <td>09:00</td>
                        <td>20:00</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>ห้องดูหนัง</td>
                        <td>26/05/2025</td>
                        <td>10:00</td>
                        <td>15:00</td>
                        <td>-</td>
                    </tr></tbody>
                    </table>
                </div>
            </div>
            
            <div id="popupser" class="popup">
                <h2>ค่าใช้จ่าย</h2>
                <div class="eachbill-head"><p>ประจำเดือน</p><p>จำนวน</p></div>
                <% let totalSum = 0; %>
                <% let lastMonthName = ''; %>
                <% let lastYear = ''; %>
                <% 
                    const months = [
                        "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
                        "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
                    ];
                %>
                <% bill_data.forEach((item, index)=>{ %>
                    <% totalSum += parseFloat(item.total); %>
                    <% 
                        const date = new Date(item.date);
                        const day = date.getDate();
                        const month = date.getMonth();
                        const year = date.getFullYear()+543;

                        const monthName = months[month];
                    %>
                    <% if (index === bill_data.length - 1) { %>
                        <% lastMonthName = months[(month + 1) % 12]; %>
                        <% lastYear = (month === 11) ? year + 1 : year; %>
                    <% } %>
                    <div class="eachbill"  id="<%= item.bill_id %>"><p id="date"><%= monthName %> <%= year %></p><p><%=item.total.toFixed(2)%> บาท</p></div>
                <% }); %> 
                <button type="button" onclick="closePopup()">ปิด</button>
                <!-- <div class="eachbill"><p>มกราคม 2568</p><p>บาท</p></div> -->
            </div>
            
            <div class="add_payment">
                <div class="contact-info">
                    <h3>ข้อมูลติดต่อ</h3>
                    <p class="text-inside"><strong>ที่อยู่ (Address):</strong> <%= (data.address).split('$') %></p>
                    <p class="text-inside"><strong>เบอร์โทร (Phone Number):</strong> <%= data.phone %></p>
                    <p class="text-inside"><strong>Line ID:</strong> <%= data.line %></p>
                    <p class="text-inside"><strong>E-mail:</strong> <%= data.email %></p>
                </div>
                <div class="payment">
                    <div class="pays" id="pays" onclick="openPopup();">
                        <h3><strong>ค่าใช้จ่าย</strong></h3>
                        <p class="amount"><%= totalSum.toFixed(2) %> บาท</p>
                        <% if (lastMonthName && lastYear) { %>
                            <p class="paydate">ชำระภายในวันที่ 5 <%= lastMonthName %> <%= lastYear %></p>
                        <% } %>
                        <p class="total-bills"><%= total %></p>
                    </div>
                    <button class="btn" id="btn" type="button" onclick="senddata()"><strong>ส่งหลักฐานการโอน</strong></button>
                    <button class="btn-logout">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/javascript/refreshtoken.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const billElements = document.querySelectorAll('.eachbill');

            billElements.forEach((element) => {
                element.addEventListener('click', () => {
                    const billId = element.id;
                    window.location.href = `/user/bill/${billId}`;
                });
            });
        });
        let lastMonthName = '';
        let lastYear = '';
        const months = [
                "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
                "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
            ];
        function getMonthName(month) {
            return months[month - 1];
        }
        
        const billdate = document.querySelectorAll('.date');

            billdate.forEach((element) => {
                let date = new Date(element.innerHTML); 
                let month = String(date.getMonth() + 1).padStart(2, '0');
                let year = date.getFullYear()+543;
                element.innerHTML = ""+getMonthName(month)+" "+year;
            });

        function openPopup() {
            document.getElementById('popupser').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('popupser').style.display = 'none';
        }
    </script>
</body>
</html>
